button {
    border: none;
    font-size: 0.9em !important;
}

.img-world {
    width: 50%;
    height: 50%;
    padding-top: 4%;
}

@media screen and (min-width: 1080px) {
    .col-6 button {
      margin-top: -50px;
    }
}