<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">CRUD</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/country">Países</a>
                <a class="nav-item nav-link" href="/departament">Departamentos</a>
                <a class="nav-item nav-link" href="/municipality">Municipios</a>
                <li class="nav-item">
                    <label class="switch">
                        <input type="checkbox" class="input" (change)="toggleDarkTheme()">
                        <div class="rail">
                            <span class="circle"></span>
                        </div>
                    </label>
                </li>
            </div>
        </div>
    </div>
</nav>


