  .bg {
    background-image: url("../../assets/img/world-data-principal.jpg");
    background-size: cover;
 
  }
  
  li.navbar-nav {
    float: right; 
  }

  .container {
    margin-bottom: 20px; 
  }

 