<!-- <div class="login">
    <form class="custom-form" (ngSubmit)="login()">
      <h1>Login</h1>
      <input type="email" name="email" placeholder="Email" required [(ngModel)]="email">
      <input type="password" name="password" placeholder="Password" required [(ngModel)]="password">
      <button type="submit">Login</button>
    </form>
</div> -->

<div class="container">
  <div class="row">
    <div class="col bg w-75 bg-primary">

    </div>
    <div class="col">
      <div class="text-end">
        <img src="../../assets/img/world-data.jpg" width="48px" alt="Base de datos futuristica de la informacion del mundo">
      </div>
      <h2 class="fw-bold text-center py-5">Bienvenidx</h2>
      <form action="#">
        <div class="mb-4">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" name="email">
        </div>
        <div class="mb-4">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password">
        </div>
        <div class="mb-4 form-check">
          <input type="checkbox" name="connected" class="form-check-input">
          <label for="connected" class="form-check-label">Remember me</label>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-outline-primary">Iniciar Sesión</button>
        </div>
        <div class="my-3">
          <span><a href="#">¿No tienes cuenta?</a></span>
        </div>
      </form>
    </div>
  </div>

</div>
  