<app-navbar></app-navbar>

<div class="container w-75 mt-5 rounded shadow">
  <div class="row alingn-items-stretch">
    <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">

    </div>
    <div id="cardDark"  class="col p-5 rounded-end">
      <div class="text-end">
        <img src="../../assets/img/logo-crud2.png" width="45px" alt="Base de datos futuristica de la informacion del mundo">
      </div>
      <h2 class="fw-bold text-center py-5">Bienvenido a SGET</h2>
      <form class="custom-form" (ngSubmit)="login()">
        <div class="mb-4">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" name="email" placeholder="Ingresa tu correo" required [(ngModel)]="email">
        </div>
        <div class="mb-4">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Ingresa tu contraseña" required [(ngModel)]="password">
        </div>
        <div class="mb-4 form-check">
          <input type="checkbox" name="rememberMe" class="form-check-input" [(ngModel)]="rememberMe">
          <label for="connected" class="form-check-label">Remember me</label>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-outline-primary">Iniciar Sesión</button>
        </div>
        <div class="my-3 text-center">
          <span><a href="/register">¿Aún sin cuenta?, ¡Creala!</a></span>
        </div>
      </form>
    </div>
  </div>
</div>
  