<app-navbar></app-navbar>
<div id="cardDark" class="card table-responsive m-4">
    <div class="card-header text-center">
        <h2 class="card-title">CRUD de Departamentos</h2>
    </div>
</div>
<div class="col-6">
<div id="cardDark" class="card table-responsive m-4">
    <div class="card-header">
        <h3 class="card-title text-center">{{labelMain}} Departamento</h3>
    </div>
    <div class="card-body">
        <form class="form-group">
            <div class="form-group col-10">
                <label for="inputCountry">Selecciona un país</label>
                <select [(ngModel)]="country_id" [ngModelOptions]="{standalone: true}" id="inputCountry"
                    placeholder="Elige un pais" class="form-control">
                    <option selected disabled>Choose a Country...</option>
                    <option [value]="country.id" *ngFor="let country of countryData">{{country.name}}</option>
                </select>
            </div>
            <div class="form-group col-10">
                <label for="inputDepartament">Ingresa el departamento</label>
                <input [(ngModel)]="name" [ngModelOptions]="{standalone: true}" type="text" class="form-control mb-2"
                    id="inputDepartament">
            </div>
            <div class="form-group col-6">
                <button type="button" (click)="onButtonClick()" class="btn btn-primary">{{labelMain}}
                    Departamento</button>
            </div>
        </form>
    </div>
</div>
</div>

<div class="card table-responsive m-4 text-center">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Pais</th>
                <th scope="col">Departamento</th>
                <th scope="col">Actualizar</th>
                <th scope="col">Eliminar</th>
                <th scope="col">Municipios</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let departament of departamentData; let i = index">
                <td>{{i+1}}</td>
                <td>{{departament?.country?.name}}</td>
                <td>{{departament.name}}</td>
                <td>
                    <button (click)="update(departament)" type="button" class="btn btn-success">Actualizar</button>
                </td>
                <td>
                    <button (click)="deleteDepartament(departament.id)" type="button" class="btn btn-danger">Eliminar</button>
                </td>
                <td>
                    <button (click)="viewMunicipality(departament.id)" class="btn btn-info">Ver Muni</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>