<app-navbar></app-navbar>
<div class="card w-80 m-4 rounded shadow">
  <div class="card-header text-center">
      <h2 class="card-title">¡Dash Board 2024!</h2>
  </div>
</div>
<div class="card w-80 m-5 rounded shadow">
  <div class="row align-items-stretch">
    <div class="col p-5 rounded-end">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title text-center">{{chartTitle1}}</h5>
              <canvas id="chart1"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title text-center">{{chartTitle2}}</h5>
              <canvas id="chart2"></canvas> 
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title text-center">{{chartTitle3}}</h5>
              <canvas id="chart3"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row card-center">
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title text-center">{{chartTitle5}}</h5>
              <canvas id="chart5"></canvas> 
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title text-center">{{chartTitle4}}</h5>
              <canvas id="chart4"></canvas> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>