@import 'ngx-toastr/toastr';

.table-container {
  margin: 20px; /* Ajusta el valor según sea necesario */
}

.card {
  background-color: #fff; /* Ajusta el color de fondo según sea necesario */
  border: 1px solid #ccc; /* Ajusta el estilo del borde según sea necesario */
  border-radius: 8px; /* Ajusta el radio de borde según sea necesario */
}

th, td, label {
  font-size: 1.2em !important;
}

.dark-theme {
  background-color: #494949; 
  color: #fff;
}

body {
  color: var(--color);
  background-color: var(--background-color);
}

.dark-theme #cardDark {
  background-color: #343434; 
  color: #fffefe;
  border-color: #fffefe;
}

.dark-theme table {
  border-color: #ffffff;
}

.dark-theme th, .dark-theme td {
  background-color: #343434; 
  color: #fffefe;

}

.dark-theme .card {
  background-color: #343434; 
  color: #fffefe;
  border-color: #fffefe;
}


#myTable th {
  text-align: center; 
  vertical-align: middle; 
}

@media screen and (max-width: 992px) { /* Aplica estilos cuando la pantalla tenga 992px de ancho o menos */
  .col-6 {
    width: auto; /* Elimina el ancho fijo de col-6 */
    flex: 0 0 100%; /* Hace que la columna ocupe todo el ancho */
    max-width: 100%; /* Asegura que la columna no exceda el ancho de su contenedor */
  }
}

@media screen and (max-width: 910px) {
  .dataTables_length,
  .dataTables_info {
    display: block; /* Cambia la visualización a bloque */
    margin-bottom: 10px; /* Añade un margen inferior para separarlos */
  }
}

/* Media query para pantallas de hasta 765px */
@media screen and (max-width: 765px) {
  .dataTables_length,
  .dataTables_info {
    display: inline-block; /* Cambia la visualización a en línea */
    margin-bottom: 0; /* Elimina el margen inferior */
  }
}

