<app-navbar></app-navbar>
<div class="container w-75 mt-5 rounded shadow">
  <div class="row alingn-items-stretch">
    <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">
    </div>
    <div id="cardDark" class="col p-5 rounded-end">
      <div class="text-end">
        <img src="../../assets/img/logo-crud2.png" width="45px" alt="Base de datos futuristica de la informacion del mundo">
      </div>
      <h2 class="fw-bold text-center py-5">Registro de Usuario</h2>
      <form class="custom-form" (ngSubmit)="register()" >
        <div class="mb-4">
          <label for="name" class="form-label">Nombre</label>
          <input type="text" class="form-control" name="name" placeholder="Ingresa tu nombre" required [(ngModel)]="name">
        </div>
        <div class="mb-4">
          <label for="gender" class="form-label">Género</label>
          <input type="text" class="form-control" name="gender" placeholder="Ingresa tu género" required [(ngModel)]="gender">
        </div>
        <div class="mb-4">
          <label for="profession" class="form-label">Profesión</label>
          <input type="text" class="form-control" name="profession" placeholder="Ingresa tu profesión" required [(ngModel)]="profession">
        </div>
        <div class="mb-4">
          <label for="country" class="form-label">País</label>
          <select [(ngModel)]="country_id" (ngModelChange)="selectCountry()" [ngModelOptions]="{standalone: true}" id="inputCountry" class="form-control">
          <option selected disabled>Elige un País</option>
          <option [value]="country.id" *ngFor="let country of countryData">{{country.name}}</option>
          </select>
        </div>
        <div class="mb-4">
          <label for="department" class="form-label">Departamento</label>
          <select [(ngModel)]="departaments_id" (ngModelChange)="selectDepartament()" [ngModelOptions]="{standalone: true}" id="inputDepartament" class="form-control" [disabled]="!country_id">
            <option value="0" disabled>Elige un Departamento</option>
            <option [value]="departament.id" *ngFor="let departament of departamentData">{{departament.name}}</option>
          </select>
        </div>
        <div class="mb-4">
          <label for="municipality" class="form-label">Municipio</label>
          <select [(ngModel)]="municipality_id" [ngModelOptions]="{standalone: true}" id="inputMunicipality" class="form-control" [disabled]="!departaments_id">
            <option value="0" disabled>Elige un Municipio</option>
            <option [value]="municipality.id" *ngFor="let municipality of municipalityData">{{municipality.name}}</option>
          </select>
        </div>
        <div class="mb-4">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" name="email" placeholder="Ingresa tu correo" required [(ngModel)]="email">
        </div>
        <div class="mb-4">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" name="password" placeholder="Ingresa tu contraseña" required [(ngModel)]="password">
        </div>
        <div class="mb-4">
          <label for="password_confirmation" class="form-label">Confirmar Contraseña</label>
          <input type="password" class="form-control" name="password_confirmation" placeholder="Confirma tu contraseña" required [(ngModel)]="password_confirmation">
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-outline-primary">Registrarse</button>
        </div>
      </form>
    </div>
  </div>
</div>
